@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    /* background-color: rgb(180, 167, 167); */
    font-family: 'Outfit';
    /* display: block; */
}

body{
    background-color: #ded3d3;
}

.projects{
    height: 200px;
    justify-content: center;
    width: 100%;
    /* background-color: blue; */
    align-items: center;
    overflow: hidden;
    text-align: center;
}


.pros{
    height: 80px;
    width: 450px;
    /* background-color: green; */
    position: relative;
    left: 450px;
    top: 40px;

}

.projects h5{
    position: relative;
    top: 60px;
    font-size: 16px;
    left: 50px;
    font-weight: 400;
}

.pros h2{
    font-size: 28px;
}

.project{
    height: 350px;
    width: 100%;
    /* background-color: green; */
}


.banner{
    background-color: grey;
    height: 300px;
    width:1150px;
    position: relative;
    left: 60px;
    top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.lists{
    /* background-color: green; */
    width: 100%;
    height: 400px;
    display: flex;
    gap: 40px;

}


.list{
    background-color: #f5eeee;
    width: 350px;
    height: 400px;
    position: relative;
    left: 60px;
    border-radius: 20px;


}

.images{
    height: 150px;
    width: 320px;
    position: relative;
    left: 15px;
    top: 20px;
    border-radius: 10px;
    background-color: black;
    overflow: hidden;
}

.images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.name{
    height: 65px;
    width: 350px;
    /* background-color: blue; */
    position: relative;
    top: 30px;
    overflow: hidden;
}

.name h2{
    font-size: 24px;
    position: relative;
    bottom: 20px;
    left: 15px;
}

.description{
    height: 110px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 343px;
    /* background-color: yellow; */
    
}

.description h2{
    font-weight: 300;
    font-size: 18px;
    position: relative;
    top: 20px;
    left: 15px;
    word-wrap: break-word;
    white-space: normal; /* Prevents text from staying in a single line */
    max-width: 100%;
    overflow-wrap: break-word;
}

.categories{
    height: 50px;
    width: 350px;
    /* background-color: blue; */
    display: flex;
    gap: 10px;
}

.do{
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 15px;
    width: 140px;
    background-color: yellowgreen;
    overflow: hidden;
}

.do h2{
    position: relative;
    /* top: 10px; */
    font-size: 14px;
    bottom: 6px;
    left: 10px;
    color: rgb(77, 99, 33);
}

#do{
    width: 100px;
}


@media (max-width: 480px){
    body{
        /* background-color: blue; */
    }


    .projects{
        width: 100%;
        height: 200px;
        /* background-color: grey; */
    }

    .projects h5{
        position: relative;
        left: 0px;
        top: 40px;
    }

    *{
        overflow-x: hidden;
    }

    .pros{
        /* background-color: red; */
        position: relative;
        left: 0px;
        width: 250px;
        left: 50px;
        top:0px;
    }

    .pros h2{
        font-size: 18px;
    }

    .project{
        width: 100%;
        /* background-color: grey; */
        height: 180px;
    }

    .banner{
        width:  320px;
        position: relative;
        left: 10px;
        height: 150px;
    }

    .lists{
        /* background-color: red; */
        width: 100%;
        display: grid;
        overflow: hidden;
        grid-template-columns: 1fr;
        height: 1300px;
    }

    .list{
        position: relative;
        left: 0px;
    }
    

    .description{
        overflow: hidden;
        height: 110px;
    }
}