@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
    background-color: #ece5e5;
    font-family: 'Outfit';
}


.article-image{
    height: 430px;
    width: 1240px;
    border-radius: 20px;
    background-color: red;
}

.title-bar{
    /* height: 120px; */
    width: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: blue; */
}

.title h2{
    font-size: 34px;
    width: 900px;
    overflow: hidden;
    /* height: 20px; */
    position: relative;
    left: 20px;
    font-weight: 600;
    overflow: hidden;
    /* background-color: red; */
}

.author{
    height: 40px;
    width: 100%;
    position: relative;
    top: 0px;
    /* background-color: green; */
    display: flex;
}

.name{
    height: 40px;
    width: 660px;
    /* background-color: blue; */
    display: flex;
    gap: 50px;
    
}

.name li{
    position: relative;
    top: 5px;
}

.social{
    height: 40px;
    /* background-color: grey; */
    width: 340px;
    position: absolute;
    right: 0px;
    display: flex;
}

.name h2{
    font-size: 18px;
    position: relative;
    bottom: 10px;
    left: 20px;
}

.name span{
    font-weight: 400;
}

.soc{
    height: 40px;
    width: 60px;
    /* background-color: blue; */
    text-align: center;
    cursor: pointer;
}

.soc i{
    font-size: 30px;
    top: 5px;
    position: relative;
}

.soc i:hover{
    color: blue;
}

.soc i.fa-square-x-twitter:hover{
    color: rgb(65, 65, 65);
}
.soc i.fa-square-whatsapp:hover{
    color: green;
}
.soc i.fa-share-nodes:hover{
    color: rgb(0, 60, 0);
}



.social h2{
    font-size: 16px;
    position: relative;
    bottom: 5px;
    font-weight: 400;
}

.the-article{
    height: auto;
    width: 100%;
    /* background-color: green; */
    position: relative;
    top: 40px;
    display: flex;
    overflow: hidden;
}

.article-bar{
    height: auto;
    width: 950px;
    /* background-color: grey; */
}

.latest-articles{
    height: 500px;
    width: 300px;
    overflow-y: auto;
    /* background-color: rgb(120, 43, 43); */
    overflow-x: hidden;
}

.heads h2{
    font-size: 20px;
    position: relative;
    left: 10px;
    font-weight: 400;
}

.image{
    height: 150px;
    width: 250px;
    background-color: white;
    left: 10px;
    position: relative;
    border-radius: 20px;
}

.my-article-title h2{
    font-size: 20px;
    position: relative;
    left: 10px;
}

.article-bar{
    /* background-color: green; */
}

.article-bar p{
    font-size: 20px;
    position: relative;
    left: 20px;
    width: 850px;
}


.article-image, .image{
    overflow: hidden;
}

.article-image img , .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (max-width:480px){
    body{
        overflow: hidden;
    }

    *{
        overflow-x: hidden;
    }

    .article-image{
        width: 360px;
        height: 250px;
        overflow: hidden;
        position: relative;
        left: 2px;
        /* background-color: blue; */
    }

    .title-bar{
        /* background-color: gray; */
        position: relative;
        top: 10px;
        width: 100%;
        overflow: hidden;
        /* background-color: red; */
        min-height: 150px;

    }

    .title-bar h2{
        overflow: hidden;
        position: relative;
        left: 0px;
        bottom: 20px;
        width: 360px;
        font-size: 28px;
        height: 180px;
    }

    .author{
        /* background-color: yellow; */
        height: 80px;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .name{
       /* background-color: blueviolet; */
       gap: 15px;
       height: 30px;
       overflow: hidden;
    }

    .name h2{
        height: 40px;
        position: relative;
        left: 5px;
        font-size: 16px;
    }

    .name li{
        position: relative;
        left: 0px;
        font-size: 14px;
    }

    .date{
        /* background-color: red; */
        position: relative;
        left: -15px;
        overflow: hidden;
        width: 80px;
    }

    .date h2{
        font-size: 11px;
        position: relative;
        bottom: 2px;
    }

    .social{
        position: relative;
        /* background-color: red; */
        bottom: 2px;
        overflow: hidden;
    }

    .soc{
        overflow: hidden;
    }

    .social h2{
        height: 20px;
        overflow: hidden;
    }

    .the-article{
        overflow: hidden;
        width: 100%;
        position: relative;
        left: 0px;
        height: auto;
    }

    .latest-articles{
        display: none;
    }

    .article-bar{
        overflow: hidden;
        position: relative;
        left: 0px;
        height: auto;
        /* background-color: green; */
    }

    .article-bar p{
        position: relative;
        left: 0px;
        bottom: 20px;
        height: auto;
        width: 360px;
    }

    .soc i{
        overflow: hidden;
    }
}